<h3>Status Changelog</h3>

<table id="changelog">
  <thead>
  <tr>
    <th>Date</th>
    <th>Previous Status</th>
    <th>Next Status</th>
    <th>Reason</th>
  </tr>
  </thead>
  <tbody>
  <% changelogs.reverse.each do |cl| %>
    <tr>
      <td><%= I18n.l cl.created_at, format: :datetime %></td>
      <td><%= I18n.t("activerecord.attributes.applicant.statuses.#{cl.previous_status}") %></td>
      <td><%= I18n.t("activerecord.attributes.applicant.statuses.#{cl.next_status}") %></td>
      <td><%= cl.reason %></td>
    </tr>
  <% end %>
  </tbody>
</table>
