<h1>Payments</h1>

<table class="display"
       id="datatable-payments" data-url="payments.json" style="margin-top: 10px !important;">
  <thead>
  <tr>
    <th>Date</th>
    <th>Project</th>
    <th>Payments due</th>
  </tr>
  </thead>
  <tbody class="center">
  </tbody>
</table>
